$lightTheme: (
  backgroundColor: white,
  textColor: #444444,
  buttonTextTransform: none,
  buttonBorder: 2px solid #408bbd,
  boxShadow: 0 5px 20px 13px rgba(0, 0, 0, 0.05),
  cardBackgroundColor: #fff,
);
